<section class="signatureBox">
<h2>{{title}}</h2>
<p>{{description}}</p>
<form class="signatureForm" action="/signed-petition" method="post">
    <canvas id="signatureField" width="600" height="300"></canvas>
    <button id="submitBtn" type="submit">send</button>
    <input name="signature" type="hidden" id="hiddenSignatureField">
    {{#if error}}
    <p class="error">{{error}}</p>
    {{/if}}
<input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
</section>