<section class="signatureBox">
<h2>{{title}}</h2>
<p>{{description}}</p>
<form class="signatureForm" action="/signed-petition" method="post">
    <label for="firstname">Lastname</label>
    <input name="firstName" id="firstname" type="text">
    <label for="lastname">Firstname</label>
    <input name="lastName" id="lastname" type="text">
    <canvas id="signatureField" width="600" height="300"></canvas>
    <button id="submitBtn" type="submit">send</button>
    <input name="signature" type="hidden" id="hiddenSignatureField">
    {{#if error}}
    <p class="error">{{error}}</p>
    {{/if}}
<input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
</section>