<section class="signatureBox">
<h2>{{title}}</h2>
<p>thanks to your effort we are much closer now to offering a good life to every one. well done </p>
<img id="signature" src="{{signature}}">
    <div class="submenu">
    <a href="/signers-list">List of all signers</a>
    <a href="/update-user-data">Update profile</a>
    <form id="unsign-petition" action="/unsign-petition" method="post">
        <button type="submit">Un/Sign</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
    </div>
</section>