<section class="signatureBox">
<h2>{{title}}</h2>
<p>thanks to your effort we are much closer now to offering a good life to every one. well done </p>
<img src="{{signature}}">
    <a href="/signers-list">see all signers</a>
    <a href="/update-user-data">update your profile</a>
</section>