<form class="form" action="/register" method="post">
    <label for="firstname">Firstname</label>
    <input name="firstname" id="firstname" type="text">
    <label for="lastname">Lastname</label>
    <input name="lastname" id="lastname" type="text">
    <label for="email">Email</label>
    <input name="email" id="email" type="email">
    <label for="password">Password</label>
    <input name="password" id="password" type="password">
    <label for="age">Age</label>
    <input name="age" id="age" type="text">
    <label for="city">City</label>
    <input name="city" id="city" type="text">
    <label for="homepage">Homepage</label>
    <input name="homepage" id="homepage" type="text">
    <button id="submitBtn" type="submit">UPDATE</button>
    {{#if error}}
        <p class="error">{{error}}</p>
    {{/if}}
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>