html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body {
    background-color: #875dc9;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Italiana', serif;}
header h1 {
    color: #563198;
    margin: 20px;
}
header{
    background-color: #25d6d6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 60px;
}
.sub-header{
    display: flex;
    justify-content: center;
    background-color: #875dc9;
    height: 55px;
    align-items: center;
    color: #563198;
    font-size: 20px;
    text-decoration: none;
    text-decoration: #def8f7;
}
#profile-name{

}

#logout-button{
    margin: 40px;
    color: #563198;
    background-color: #25d6d6;
}
h1,
h2,
p,
label {
    text-align: center;
    color: #563198;
    font-size:14px;
}

.signatureBox, .form {
    align-self: center;
    background-color: #25d6d6;
    display: flex;
    flex-direction: column;
    padding: 10vh 20vh 10vh 20vh;
    border: 1px solid #563198;
    margin: 80px;
}
.sub-header a{
    color: white;
    text-decoration: #25d6d6;
}.sub-header p{
    color: #563198;
}
header p, h1, a{
    font-size: 24px;
    color: #563198;
}

h2{
    font-size:36px;
    margin: 5px;
}

#signatureField {
    background: #def8f7;
    margin: 25px;
}
label{
    margin: 3px;
}
.form input {
    margin: 10px;
    width: 300px;
    align-self: center;
}
.link-text{
    font-size: 14px;
    margin: 10px;
}
button {
    font-size: 16px;
    width: 80px;
    margin: 10px;
    align-self: center;
    background-color: #875dc9;
    color: white;
    border-radius: 5px;
    border: none;
}
.submenu{
    display: flex;
    flex-direction: row;
}
#signatureTable {
    align-self: center;
    background-color: #25d6d6;
    width: 100%;
    padding: 30px;
    border-spacing: 20px;
    margin: 20px;
}

table,
th,
td {

    font-size: 18px;
    border: 1px solid #563198;
    border-radius: 3%;
    padding: 15px;
    color: #563198;
}

th {
    text-align: center;
}
#unsign-petition button{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    /*input has OS specific font-family*/
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
    margin: 0;
    padding: 0;
    color: #563198;
}
.submenu{
    display:flex;
    justify-content: space-evenly;
}
.submenu a, button{
    font-size: 18px;
}
#signature{
    border: 1px solid #563198;
    margin: 30px 0 10px 0;
}