html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body {
    background-color: #875dc9;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header h1 {
    color: black;
}
header{
    background-color:#25d6d6;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
}

h1,
h2,
p,
label {
    text-align: center;
    color: #563198;
}

.signatureBox, .form {
    align-self: center;
    background-color: #25d6d6;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    padding: 10vh 20vh 10vh 20vh;
    border: 1px solid black;
    margin: 80px;
}

header p, h1{
    font-size: 36px;
}
header{
    padding: 10px;
    border-bottom: 1px solid black;
}
h2{
    font-size:24px;
    margin: 5px;
}

#signatureField {
    background: #def8f7;
    margin: 25px;
}
label{
    margin: 3px;
}
.form input {
    margin: 10px;
    width: 300px;
    align-self: center;
}
.link-text{
    font-size: 14px;
    margin: 10px;
}
button {
    font-size: 16px;
    width: 80px;
    margin: 10px;
    align-self: center;
    background-color: #875dc9;
    color: white;
    border-radius: 5px;
    border: none;
}

#signatureTable {
    align-self: center;
    background-color: #25d6d6;
    width: 100%;
    padding: 30px;
    border-spacing: 20px;
    margin: 20px;
}

table,
th,
td {

    font-size: 18px;
    border: 1px solid black;
    border-radius: 3%;
    padding: 15px;
}

th {
    text-align: center;
}
#unsign-petition button{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}