body {
    background-color: #875dc9;
    display: flex;
    flex-direction: column;
}

header h1 {
    color: black;
}

h1,
h2,
p,
label {
    text-align: center;
    color: #563198;
}

.signatureBox {
    align-self: center;
    background-color: #25d6d6;
    border-radius: 2%;
    margin: 30px 0;
    box-shadow: 2px 2px 10px #def8f7;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.signatureForm {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-self: center;
    margin: 60px 0;
}

#signatureField {
    background: #def8f7;
}

.signatureForm button,
input {
    margin: 10px;
    width: 300px;
    align-self: center;
}

button {
    width: 80px;
    margin: auto;
    align-self: center;
}

#signatureTable {
    align-self: center;
    background-color: #25d6d6;
    width: 100%;
    padding: 30px;
    border-spacing: 20px;
}

table,
th,
td {
    border: 1px solid black;
    padding: 5px;
}

th {
    text-align: center;
}